.cart-title {
  font-size: 56px;
  font-weight: 700;
  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.cart-line {
  width: 96%;
  margin: 0 auto;
  border: 1px solid #888;
}

.cart-card-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
}
